<html>
<script src="js/jquery-2.2.2.js"></script>

<script src="js/angular.min.js"></script>
<script src="js/chart.js"></script>
<script src="js/tc-angular-chartjs.min.js"></script>
<script src="js/angular-chart.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap-switch.js"></script>

<script src="js/d3-serv.js" charset="utf-8"></script>
<script src="js/ng-radial-gauge-dir.js"></script>
<script src="js/bsSwitch.js"></script>
<link rel="stylesheet" href="angular-chart.css">
<link rel="stylesheet" href="bootstrap.css">
<link rel="stylesheet" href="bootstrap-switch.css">

<body ng-app="demoApp">

	<div ng-controller="demoCtrl">
		<div class="col-md-12">
			<div class="col-md-3">
				<h2>Current Value</h2>
				<h3 ng-bind="current_value"></h3>
			</div>
			<div class="col-md-6" width="400px" ng-radial-gauge ranges="ranges"
				value="value" value-unit="unit" precision="precision"
				lower-limit="lowerLimit" upper-limit="upperLimit"></div>
			<div class="col-md-3" style="height: 40px !important;">
				<h2> Trip state </h2>
				<br> <input bs-switch ng-model="trip_state"
					type="checkbox" switch-active="{{ trip_active }}" switch-on-text="ON" switch-change="change_state('trip',trip_state)"
					switch-off-text="OFF">
				<br>	
				<h2> Inverter state </h2>
				<br> <input bs-switch ng-model="inventer_state"
					type="checkbox" switch-active="{{ !old_trip_state }}" switch-on-text="ON" switch-change="change_state('inventer',inventer_state)"
					switch-off-text="OFF">	
			</div>
		</div>
		<hr>
		<h2>Graph</h2>
		<canvas tc-chartjs-line graph="{{graph_switch}}" chart-data="data"
			chart-legend="lineChart1" height="300" width="1300"></canvas>
	</div>

	<script src="js/demoApp.js"></script>
	<script src="js/demoCtrl.js"></script>

</body>
</html>

